<template>
  <div>
    <organization-card
      v-if="myOrganization"
      :loading="loadingOrganization"
      :my-organization="myOrganization"
      class="mb-4"
      @orgNameChangeRequest="onOrgNameChangeRequest"
    />
    <subscription-card
      class="mb-4"
      :subscriptions-with-status="subscriptions"
      :member-id="memberId"
      :loading="loading"
      @updateRequest="update"
      @spinnerRequest="showSpinner"
      @spinnerStopRequest="stopSpinner"
    ></subscription-card>
    <ResourceManagerOrganizationUsers
      v-if="myOrganization"
      class="mb-4"
      :users="myUsers"
      :organization="myOrganization"
      :loading="loadingOrganization || loadingOrganizationUsers"
      :can-modify-users="isStaff"
      @alert="notifySuccess"
      @alertError="notifyError"
      @refreshUsers="refreshUsers"
    ></ResourceManagerOrganizationUsers>
    <api-keys-card :member-id="memberId"></api-keys-card>
  </div>
</template>

<script setup lang="ts">
import ResourceManagerOrganizationUsers from '@/components/Organizations/OrganizationUsers.vue';
import SubscriptionCard from '@/components/Organizations/SubscriptionCard.vue';
import { Organization, ResponseError, User } from '@/generated/openapi';
import { getOrganization, fetchUsersInOrganization } from '@/utils/fetchers';
import { ref, watch } from 'vue';
import OrganizationCard from '@/components/Organizations/OrganizationCard.vue';
import ApiKeysCard from '@/components/Organizations/ApiKeysCard.vue';
import { useSubscriptions } from '@/core/subscriptions';
import { useAlert } from '@/composable/useAlert';
import { updateNameForOrganization } from '@/core/organizations';
import { useLoadingWithPromises } from '@/composable/useLoadingWithPromises';
import { useRoute } from 'vue-router';
import { RouteLocationNormalized } from 'vue-router';
import { useApiKeys } from '@/core/apiKeys';
import { extractErrorMessageAsync } from '@/utils/error/extractMessage';
import { useUserInfo } from '@/composable/useAuth';

const route = useRoute();

const loadingState = useLoadingWithPromises();
const props = defineProps<{
  memberId: number;
}>();
const { isStaff } = useUserInfo();
const loadingOrganization = ref(true);
const loadingOrganizationUsers = ref(true);
const myOrganization = ref<Organization | undefined>();
const myUsers = ref<User[]>([]);
const {
  subscriptions,
  loading,
  update,
  load: getSubscriptions,
  showSpinner,
  stopSpinner,
} = useSubscriptions(props.memberId);
const {
  apiKeys,
  load: loadApiKeys,
  create: createApiKeys,
  update: updateApiKeys,
} = useApiKeys(props.memberId);
const { alertError, alertSuccess } = useAlert();
const notifySuccess = (message: string) => {
  alertSuccess(message);
};
const notifyError = (message: string) => {
  alertError(message);
};
const refreshUsers = async () => {
  loadingOrganizationUsers.value = true;
  const promise = fetchUsersInOrganization(props.memberId)
    .then((users) => {
      myUsers.value = users;
    })
    .catch((e) => {
      let message = `There was an error fetching the users in organization ${props.memberId}.`;
      if (e instanceof ResponseError) {
        message = `${message} ${e.message}`;
      }
      alertError(message);
    })
    .finally(() => {
      loadingOrganizationUsers.value = false;
    });
  loadingState.addPromise(promise);
};
const refreshOrganization = async () => {
  loadingOrganization.value = true;
  getOrganization(props.memberId)
    .then((org) => {
      myOrganization.value = org;
    })
    .catch((e) => {
      if (e instanceof ResponseError) {
        alertError(e.message);
      }
    })
    .finally(() => {
      loadingOrganization.value = false;
    });
};
const onOrgNameChangeRequest = async (orgId: string, newName: string) => {
  try {
    loadingOrganization.value = true;
    await updateNameForOrganization(orgId, newName);
    refreshOrganization();
  } catch (_e) {
    alertError((await extractErrorMessageAsync(_e)) as string);
  } finally {
    loadingOrganization.value = false;
  }
};

const fetchAndUpdateData = async () => {
  try {
    await refreshUsers();
    await refreshOrganization();
    await getSubscriptions();
  } catch (e) {
    console.error(e);
    const message = extractErrorMessageAsync(e);
    alertError(
      `There was an error fetching data: ${message}. Please try again`
    );
  }
};

fetchAndUpdateData();

// Watch for changes to the route parameters and fetch new data if necessary
watch(
  () => route.params,
  async (params: RouteLocationNormalized['params']) => {
    fetchAndUpdateData();
  },
  { immediate: true }
);
</script>

<style scoped>

</style>
