<script setup lang="ts">
import {
  JsonFormsUISchemaRegistryEntry,
  JsonSchema,
  UISchemaElement,
} from '@jsonforms/core';
import { ErrorObject } from 'ajv';
import {computed} from "vue";
import ReviewFormData from "@/forms/components/common/ReviewFormData.vue";
import { useTranslationNamespace } from '@/composable/useI18n';
import { I18nNamespace } from '@/i18n';

type Props = {
  jsonSchema: JsonSchema;
  formData: Record<string, any>;
  uiSchema: UISchemaElement;
  uiSchemas?: JsonFormsUISchemaRegistryEntry[];
  renderers?: any[];
  config?: any;
  hasIssueMetadata: boolean;
  showIssueStep: boolean;
};

const props = defineProps<Props>();
type ErrorsUpdatedPayload = { errors: ErrorObject[] };
type ChangePayload = any;

const emit = defineEmits<{
  (event: 'update:errors', payload: ErrorsUpdatedPayload): void;
  (event: 'change', payload: ChangePayload): void;
  (event: 'add-issue-metadata'): void;
}>();

const onChange = (event) => {
  emit('change', event);
};

const handleErrors = (errors) => {
  emit('update:errors', errors);
};

const t = useTranslationNamespace(I18nNamespace.ContentRegistration)

const hideAddIssueButton = computed(() => props.showIssueStep || props.hasIssueMetadata)
</script>

<template>
  <h1>{{ t('records_editForm_reviewMetadata_title') }}</h1>
  <p>{{ t('records_editForm_reviewMetadata_subtitle') }}</p>
  <review-form-data
    class="mt-2"
    v-bind="props"
    @update:errors="handleErrors"
    @change="onChange"
    :readonly=true
  ></review-form-data>
</template>

<style scoped>

</style>
