<template>
  <span>
    <v-row class="">
      <v-col cols="12">
        <v-card>
          <v-card-title>
            <v-icon color="primary" size="large" class="mr-2"
              >mdi-check-circle</v-icon
            >
            {{ nsT('record-submission-success-msg-journal-article') }}
          </v-card-title>
          <v-card-text>
            <p>
              {{ nsT('submit_complete_description') }}
            </p>
            <v-btn
              color="primary"
              variant="outlined"
              rounded
              class="mt-4"
              data-test="btn-download"
              @click="$emit('download')"
              >{{ nsT('submit_complete_button_download_text') }}</v-btn
            >
            <v-divider class="mt-8 mb-8"></v-divider>
            <v-row>
              <v-col>
                <p class="text-subtitle-1" data-test="submission-id">
                  {{ nsT('editRecord_deposit_submissionId') }} {{ submissionId }}
                </p>
              </v-col>
              <v-col>
                <p class="text-subtitle-1" data-test="doi">
                  DOI <AppLink :to="getDOIUrl">{{ doi }}</AppLink>
                </p>
              </v-col>
            </v-row>
            <v-row>
              <v-col>
                <p class="text-h6 mt-4">{{ nsT('whats-next') }}</p>
                <ul class="pl-4">
                  <li class="mt-2">
                    <TranslationComponent :translation="nsT('editRecord_despoitSuccess_nextActions_apiMsg')">
                      <template #metadata-search-link>
                        <AppLink :to="URL_METADATA_SEARCH">{{ nsT('brand-name-metadata-search') }}</AppLink>
                      </template>
                    </TranslationComponent>
                  </li>
                  <li class="mt-2">{{ nsT('editRecord_despoitSuccess_nextActions_checkSubmissionMsg') }} <AppLink
                      :to="getSubmissionUrl">
                      {{
                        submissionId
                      }}</AppLink>
                  </li>
                  <li v-if="deferredCitationsDiagnosticId" class="mt-2">{{ nsT('editRecord_despoitSuccess_nextActions_checkCitationsMsg') }} <AppLink
                      :to="getDeferredCitationsDiagnosticUrl">{{
                        deferredCitationsDiagnosticId
                      }}</AppLink>
                  </li>
                </ul>
              </v-col>
            </v-row>
          </v-card-text>
          <v-card-actions>
            <PostDepositActionsMenu
              :journal-title="lastDepositedJournalTitle"
              :issue-number="lastDepositedJournalIssue"
              @action-selected="handleActionSelected"
            ></PostDepositActionsMenu>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </span>
</template>
<script lang="ts">
import {defineComponent, computed, onBeforeMount, PropType} from 'vue';
import { env } from '@/env';
import { PATH_ADMIN_SYSTEM_SUBMISSION_BY_ID, URL_SIMPLE_TEXT_QUERY, URL_SIMPLE_TEXT_QUERY_FAQ, URL_METADATA_SEARCH } from '@/constants/urls';
import { useTranslationNamespace } from '@/composable/useI18n';
import { I18nNamespace } from '@/i18n';
import { TranslationComponent } from 'i18next-vue';
import AppLink from '@/components/AppLink.vue';
import PostDepositActionsMenu from '@/components/PostDepositActionsMenu.vue';
import { useRecordStore } from '@/stores/records';
import {
  ContentRegistrationFormPayload,
  ContentRegistrationType,
  DepositedMetadataRecord,
  PostDepositAction,
  PostDepositActionType
} from '@/common/types';
import { useRouter } from 'vue-router';
import { RouteNames } from '@/router/index';
import { createRecordWithId } from '@/utils/helpers';
import { generateUuid } from '@/utils/ids';
import {useNotificationStore} from "@/stores/notifications";
import {usePageTitle} from "@/composable/usePageTitle";

export default defineComponent({
  name: 'DepositSuccessMessageJournalArticle',
  components: { AppLink, TranslationComponent, PostDepositActionsMenu },
  props: {
    record: {
      type: Object as PropType<DepositedMetadataRecord>,
      required: true
    },
  },
  setup(props) {
    const nsT = useTranslationNamespace(I18nNamespace.ContentRegistration);
    const router = useRouter();
    const recordStore = useRecordStore();
    const notificationStore = useNotificationStore();
    const { setTitle } = usePageTitle();
    onBeforeMount(() => {
      setTitle(nsT('record-deposit-success'));
    });

    const depositedJournalTitle = computed(() => {
      return props.record.formData?.journal?.titles?.fullTitle;
    })

    const depositedJournalIssue = computed(() => {
      return props.record.formData?.issue?.issue;
    })
    const handleActionSelected = (action: PostDepositActionType) => {
      let newRecord: ContentRegistrationFormPayload | null = null;
      switch (action) {
        case PostDepositAction.NewJournal:
          router.push({ name: RouteNames.records.new, params: { recordType: ContentRegistrationType.JournalArticle }});
          return;
        case PostDepositAction.SameJournal:
          newRecord = createRecordWithId(
            generateUuid(),
            ContentRegistrationType.JournalArticle,
            {
              journal: props.record.formData?.journal,
            }
          );
          recordStore.saveDraft(newRecord);
          break;
        case PostDepositAction.SameIssue:
          newRecord = createRecordWithId(
            generateUuid(),
            ContentRegistrationType.JournalArticle,
            {
              journal: props.record.formData?.journal,
              issue: props.record.formData?.issue,
            }
          );
          recordStore.saveDraft(newRecord);
          break;
        default:
          console.debug('Unknown postdeposit action: ', action);
      }
      if (!newRecord) {
        notificationStore.addNotification(`Unknown action selected: ${action}.`);
        return;
      }
      router.push({
        name: '/records/[id]',
        params: {
          id: newRecord.recordId,
        },
      });
    };

    const submissionId = computed(() => {
      return props.record.depositResponse.submissionId;
    })

    const getSubmissionUrl = computed(() => {
      return `${env().DEPOSIT_API_HOST}${PATH_ADMIN_SYSTEM_SUBMISSION_BY_ID}${props.record.depositResponse.submissionId
        }`;
    });

    const deferredCitationsDiagnosticId = computed(() => {
      return props.record.depositResponse.deferredCitationsDiagnosticId;
    })

    const getDeferredCitationsDiagnosticUrl = computed(() => {
      return `${env().DEPOSIT_API_HOST}${PATH_ADMIN_SYSTEM_SUBMISSION_BY_ID}${props.record.depositResponse.deferredCitationsDiagnosticId}`;
    });

    const doi = computed(() => {
      return props.record.depositResponse.doi;
    })

    const getDoi = computed(() => {
      return props.record.depositResponse?.doi || '';
    });

    const getDOIUrl = computed(() => {
      return `https://doi.org/${getDoi.value}`;
    })

    return {
      nsT,
      RouteNames,
      URL_SIMPLE_TEXT_QUERY,
      URL_SIMPLE_TEXT_QUERY_FAQ,
      URL_METADATA_SEARCH,
      recordStore,
      handleActionSelected,
      doi,
      lastDepositedJournalTitle: depositedJournalTitle,
      lastDepositedJournalIssue: depositedJournalIssue,
      getSubmissionUrl,
      getDoi,
      getDOIUrl,
      submissionId,
      deferredCitationsDiagnosticId,
      getDeferredCitationsDiagnosticUrl
    };
  },
});
</script>
