<script setup lang="ts">
  const _props = defineProps<{
    appliedOptions: any;
  }
  >()
</script>

<template>
  <v-row>
    <v-col v-if="!appliedOptions.hideHorizontalLabel" cols="12" sm="2" class="field-label pb-0 pb-sm-4">
      <slot name="label"/>
    </v-col>
    <v-col cols="12" :sm="appliedOptions.hideHorizontalLabel ? 12 : 10">
      <slot/>
    </v-col>
  </v-row>
</template>

<style scoped>

</style>
