<!--
Custom renderer for ISSNs.
-->
<template>
  <control-wrapper
    v-bind="controlWrapper"
    :styles="styles"
    :is-focused="isFocused"
    :applied-options="appliedOptions">
    <horizontal-label-wrapper applied-options="appliedOptions">
      <template #label>{{ computedLabel }}</template>
      <v-hover v-slot="{ isHovering }">
        <info-text :msg="infoText.msg" :learn-more-link="infoText.link"/>
        <v-text-field
          v-if="true"
          :id="control.id + '-input'"
          :loading="loading"
          :label="computedLabel"
          :disabled="!control.enabled"
          :error-messages="control.errors"
          :autofocus="appliedOptions.focus"
          :placeholder="appliedOptions.placeholder"
          :hint="control.description"
          :persistent-hint="persistentHint()"
          :model-value="control.data"
          v-bind="vuetifyProps('v-autocomplete')"
          no-filter
          hide-no-data
          hide-selected
          @focus="isFocused = true"
          @blur="handleBlur"
          @update:model-value="onUpdateModelValue" />
          </v-hover>
      <dev-control-details :control="ref(control)" class="mb-2"/>
    </horizontal-label-wrapper>
  </control-wrapper>
  <issn-lookup
    v-if="isValid"
    :issn="issnToLookup"
    @lookup-start="onLookupStart"
    @lookup-complete="onLookupComplete"></issn-lookup>
</template>

<script lang="ts">
import {
  ControlElement,
  JsonFormsRendererRegistryEntry,
  JsonFormsSubStates,
  rankWith,
  Resolve,
  scopeEndsWith,
} from '@jsonforms/core';
import { rendererProps, useJsonFormsControl } from '@jsonforms/vue';
import { ControlWrapper, useVuetifyControl } from '@pvale/vue-vuetify';
import { computed, defineComponent, inject, provide, Ref, ref } from 'vue';
import { CrossrefClient } from '@/plugins/crossref-api-client';
import IssnLookup from '@/forms/components/renderers/IssnLookup.vue';
import Tooltip from "@/forms/components/common/InfoText.vue";
import {useInfoText} from "@/forms/compositions";
import {JsonFormsI18nStateSymbol} from "@/constants/injectionKeys";
import InfoText from "@/forms/components/common/InfoText.vue";
import HorizontalLabelWrapper from "@/forms/components/renderers/HorizontalLabelWrapper.vue";
import DevControlDetails from '../common/DevControlDetails.vue';
import { autoFormatISSN } from '@/utils/helpers';
import {trim} from "@/forms/utils/format";

const issnRenderer = defineComponent({
  name: 'IssnRenderer',
  methods: {ref},
  components: {
    HorizontalLabelWrapper,
    InfoText,
    ControlWrapper,
    IssnLookup,
    DevControlDetails,
  },
  props: {
    ...rendererProps<ControlElement>(),
  },
  setup(props) {
    const jsonforms = inject<JsonFormsSubStates>('jsonforms');
    if (!jsonforms) {
      throw "'jsonforms' couldn't be injected. Are you within JSON Forms?";
    }
    const i18n = inject(JsonFormsI18nStateSymbol, null);

    const handleLookupComplete = (event) => console.log('issn lookup complete', event);
    const t = (key: string, values?: any) =>
      // at this point of time it's guaranteed to be set
      // eslint-disable-next-line @typescript-eslint/no-non-null-assertion
      jsonforms.i18n!.translate!(key, undefined, values);
    const jsonFormsVuetifyControl = useVuetifyControl(useJsonFormsControl(props), (value) => {
      return value === '' || value === null ? undefined : value;
    });

    const jsonFormsControl = jsonFormsVuetifyControl.control;

    const inputValue = ref(jsonFormsControl?.value?.data?.value);
    const loading = ref(false);

    const infoText = useInfoText(jsonFormsVuetifyControl, i18n);
    /**
     * Gets the value of the issn object within the form data
     */
    const issnData = computed(() =>
      Resolve.data(jsonforms.core?.data, jsonFormsControl.value.path)
    );

    const issnToLookup: Ref<string|null> = ref(null);

    /**
     * Issues a new search using the updated ISSN
     */

    const onUpdateModelValue = (newValue) => {
      let formattedValue = trim(newValue, jsonFormsVuetifyControl.appliedOptions)
      formattedValue = autoFormatISSN(formattedValue)
      jsonFormsVuetifyControl.onChange(formattedValue);
      if (isValid.value) {
        issnToLookup.value = formattedValue;
      }
    };

    const onLookupStart = () => (loading.value = true);
    const onLookupComplete = () => (loading.value = false);

    const isValid = computed(() => {
      // Target the rawErrors of the control, as the displayed errors maybe filtered
      return !jsonFormsControl.value.rawErrors && jsonFormsControl.value.data ? true : false;
    });

    return {
      t,
      ...jsonFormsVuetifyControl,
      issnData,
      issnToLookup,
      loading,
      inputValue,
      onUpdateModelValue,
      isValid,
      onLookupStart,
      onLookupComplete,
      infoText,
    };
  },
});

export default issnRenderer;
</script>
