<template>
  <v-locale-provider>
    <control-wrapper
      ref="wrapperRef"
      v-bind="controlWrapper"
      :styles="styles"
      :isFocused="isFocused"
      :appliedOptions="appliedOptions"
    >
        <horizontal-label-wrapper applied-options="appliedOptions">
          <template #label>{{ computedLabel }}</template>
          <v-hover v-slot="{ isHovering }">
            <info-text :msg="infoText.msg" :learn-more-link="infoText.link" :title="computedLabel"/>
            <v-combobox
              v-if="suggestions !== undefined"
              v-disabled-icon-focus
              :id="control.id + '-input'"
              :class="styles.control.input"
              :disabled="!control.enabled"
              :autofocus="appliedOptions.focus"
              :placeholder="appliedOptions.placeholder"
              :label="computedLabel"
              :hint="description"
              :persistent-hint="persistentHint()"
              :required="control.required"
              :error-messages="filteredErrors"
              :maxlength="
          appliedOptions.restrict ? control.schema.maxLength : undefined
        "
              :counter="
          control.schema.maxLength !== undefined
            ? control.schema.maxLength
            : undefined
        "
              :clearable="isHovering"
              :items="suggestions"
              hide-no-data
              v-bind="vuetifyProps('v-combobox')"
              :model-value="control.data"
              @update:model-value="localOnChange"
              @focus="isFocused = true"
              @blur="localHandleBlur"
            />
            <v-text-field
              v-else
              :id="control.id + '-input'"
              :class="styles.control.input"
              :disabled="!control.enabled"
              :autofocus="appliedOptions.focus"
              :placeholder="appliedOptions.placeholder"
              :label="computedLabel"
              :hint="description"
              :persistent-hint="persistentHint()"
              :required="control.required"
              :error-messages="filteredErrors"
              :maxlength="
          appliedOptions.restrict ? control.schema.maxLength : undefined
        "
              :counter="
          control.schema.maxLength !== undefined
            ? control.schema.maxLength
            : undefined
        "
              :clearable="isHovering"
              v-bind="vuetifyProps('v-text-field')"
              :model-value="control.data"
              @update:model-value="localOnChange"
              @focus="isFocused = true"
              @blur="localHandleBlur"
            >
            </v-text-field>
          </v-hover>
          <dev-control-info :control="toRef(control)"></dev-control-info>
        </horizontal-label-wrapper>
    </control-wrapper>
  </v-locale-provider>
</template>

<script lang="ts">
import {ControlElement, isStringControl, JsonFormsRendererRegistryEntry, rankWith,} from '@jsonforms/core';
import {computed, defineComponent, inject, ref, toRef,} from 'vue';
import {rendererProps, RendererProps, useJsonFormsControl,} from '@jsonforms/vue';
import {ControlWrapper, DisabledIconFocus, useVuetifyControl,} from '@pvale/vue-vuetify';
import {VCombobox, VHover, VTextField} from 'vuetify/components';
import isArray from 'lodash/isArray';
import every from 'lodash/every';
import isString from 'lodash/isString';
import {JsonFormsI18nStateSymbol} from '@/constants/injectionKeys';
import {env} from '@/env';
import {useInfoText} from "@/forms/compositions";
import InfoText from "@/forms/components/common/InfoText.vue";
import {useDisplay} from "vuetify";
import DevControlInfo from "@/forms/components/common/DevControlDetails.vue";
import HorizontalLabelWrapper from "@/forms/components/renderers/HorizontalLabelWrapper.vue";
import {debounce} from "lodash";
import {trim} from "@/forms/utils/format";
import { DEFAULT_FORM_DEBOUNCE_WAIT_MS } from '@/constants/forms';

const controlRenderer = defineComponent({
  name: 'StringControlRenderer',
  methods: {toRef, ref},
  components: {
    HorizontalLabelWrapper,
    DevControlInfo,
    InfoText,
    ControlWrapper,
    VHover,
    VTextField,
    VCombobox,
  },
  directives: {
    DisabledIconFocus,
  },
  props: {
    ...rendererProps<ControlElement>(),
  },
  setup(props: RendererProps<ControlElement>) {
    const wrapperRef = ref(null);
    const isDevMode = env().isDevMode;
    const i18n = inject(JsonFormsI18nStateSymbol, null);
    const vControl = useVuetifyControl(
      useJsonFormsControl(props),
      (value) => value || undefined
    );

    // Debounce the change handler to improve UI performance by avoiding back-to-back validation runs
    const debouncedChange = debounce(
      vControl.onChange,
      vControl.appliedOptions.value?.debounceWait
      || DEFAULT_FORM_DEBOUNCE_WAIT_MS
    );

    // Immediate change handler for updates that should not be debounced
    const immediateChange = (value) => {
      vControl.onChange(value)
    }

    const infoText = useInfoText(vControl, i18n);
    const description = computed(() => {
      return infoText.msg.value ? '' : vControl.control.value.description;
    });

    /**
     * Local change handler that applies debounced updates to the form control.
     * @param value - The new value to update.
     */
    const localOnChange = (value) => {
      debouncedChange(value)
    }

    /**
     * Local blur handler that flushes the debounce and applies formatting immediately.
     * @param event - The blur event.
     */
    const localHandleBlur = (event) => {
      // Flush any debounced changes immediately
      debouncedChange.flush()
      // Apply the trim whitespace formatting
      const updatedValue = trim(vControl.control.value.data, vControl.appliedOptions)
      immediateChange(updatedValue);
      vControl.handleBlur()
    }

    return {
      ...vControl,
      isDevMode,
      wrapperRef,
      infoText,
      description,
      localOnChange,
      localHandleBlur,
    };
  },
  computed: {
    suggestions(): string[] | undefined {
      const suggestions = this.control.uischema.options?.suggestion;

      if (
        suggestions === undefined ||
        !isArray(suggestions) ||
        !every(suggestions, isString)
      ) {
        // check for incorrect data
        return undefined;
      }
      return suggestions;
    },
  },
});

export default controlRenderer;

export const entry: JsonFormsRendererRegistryEntry = {
  renderer: controlRenderer,
  tester: rankWith(1, isStringControl),
};
</script>

<style>
.help-text a {
  color: inherit;
}
.field-label {
  font-size: 1rem;
}
</style>
