<template>
  <div>
    <v-card>
      <v-card-title v-if="title">{{ t(title) }}</v-card-title>
      <v-card-text>
        <v-row>
          <v-col cols="12">
            <v-alert type="error" variant="tonal">{{
              t('api-key-disabled-help-contact-support-team')
            }}</v-alert>
            <h4 class="mt-4">
              {{
                t('api-key-disabled-help-keyid-title', { apiKeyId: apiKeyId })
              }}
            </h4>
            <p class="mt-2">
              {{ t('api-key-disabled-help-explanation') }}
              <a href="mailto:plus-support@crossref.org"
                >plus-support@crossref.org</a
              >
            </p></v-col
          >
        </v-row>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color=""
            variant="text"
            class="button--accept global-dialog--confirm-button"
            @click="$emit('confirm')"
            >{{ t('button-close') }}</v-btn
          >
        </v-card-actions>
      </v-card-text>
    </v-card>
  </div>
</template>

<script lang="ts">
import { subTitle } from '@/composable/useGlobalDialog';
import { useTranslation } from '@/composable/useI18n';
import { defineComponent } from 'vue';

export default defineComponent({
  props: {
    apiKeyId: {
      type: String,
      required: true,
    },
    title: {
      type: String,
      required: true,
    },
  },
  setup() {
    const t = useTranslation();

    return { t };
  },
});
</script>

<style scoped>

</style>
