<template>
  <v-card-actions>
    <v-spacer></v-spacer>
    <v-btn
      :disabled="disableConfirm"
      color="primary"
      variant="text"
      class="button--accept global-dialog--confirm-button"
      @click="$emit('confirm')"
      >{{ t('button-close') }}</v-btn
    >
  </v-card-actions>
</template>

<script lang="ts">
import { useTranslation } from '@/composable/useI18n';
import { defineComponent } from 'vue';

export default defineComponent({
  props: {
    disableConfirm: {
      type: Boolean,
      default: false,
      required: false,
    },
  },
  setup() {
    const t = useTranslation();
    return { t };
  },
});
</script>

<style scoped>

</style>
