<template>
  <div>
    <v-row>
      <v-col cols="12">{{ t('api-key-created-subtitle') }}</v-col>
      <v-col cols="12"
        ><b>{{ t('api-key-created-keep-safe-instructions') }}</b></v-col
      >
      <v-col cols="12">
        <v-text-field
          data-test-id="key-mananger-api-key-created-api-key"
          :model-value="apiKey"
          readonly
          variant="outlined"
          hide-details
        />
      </v-col>
      <v-col cols="12">
        <v-btn
          data-test-id="key-mananger-api-key-created-copy-key-button"
          variant="outlined"
          color="primary"
          @click="copyApiKey"
          >{{ t('api-key-created-copy-key-action') }}
          <v-fade-transition leave-absolute hide-on-leave>
            <v-icon v-if="showCopiedText" class="ml-2"
              >mdi-check</v-icon
            > </v-fade-transition
          ><v-fade-transition leave-absolute hide-on-leave>
            <v-icon v-if="!showCopiedText" class="ml-2"
              >mdi-content-copy</v-icon
            ></v-fade-transition
          >
        </v-btn>
        <v-fade-transition mode-="ease-in-out"
          ><span v-show="showCopiedText" class="ml-4">{{
            t('api-key-created-key-copied')
          }}</span></v-fade-transition
        >
      </v-col>
    </v-row>
  </div>
</template>

<script lang="ts">
import {
  useErrorMessageTranslation,
  useTranslation,
} from '@/composable/useI18n';
import { useAlert } from '@/composable/useAlert';
import { clipboardCopy } from '@/utils/clipboardCopy';
import { defineComponent, ref } from 'vue';
import { extractErrorMessageAsync } from '@/utils/error/extractMessage';
import { ERROR_MESSAGES } from '@/constants/errors';

export default defineComponent({
  props: {
    apiKey: {
      type: String,
      required: true,
    },
  },
  setup(props) {
    const t = useTranslation();
    const te = useErrorMessageTranslation();
    const { alertWarning } = useAlert();
    const showCopiedText = ref(false);
    const copyIcon = ref('mdi-content-copy');
    const copyApiKey = async () => {
      try {
        await clipboardCopy(props.apiKey);
        await clipboardCopy(props.apiKey);
        showCopiedText.value = true;
        copyIcon.value = 'mdi-check';
        setTimeout(() => {
          showCopiedText.value = false;
          copyIcon.value = 'mdi-content-copy';
        }, 3000); // Hide the text after 3 seconds
      } catch (err) {
        alertWarning(
          te(
            'api-key-created-copy-to-clipboard-error',
            ERROR_MESSAGES.CLIPBOARD_COPY_ERROR,
            {
              error: await extractErrorMessageAsync(err),
            }
          )
        );
      }
    };

    return {
      showCopiedText,
      copyApiKey,
      copyIcon,
      t,
    };
  },
});
</script>
<style scoped>
.copied-text {
  display: inline-block;
  /* color: green; */
}

.v-enter-active,
.v-leave-active {
  animation: wobble 1s;
}

@keyframes wobble {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.25) rotate(5deg);
  }
  60% {
    transform: scale(0.75) rotate(-5deg);
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}
</style>
