<template>
  <div>
    <v-data-table
      id="api-keys-table"
      :headers="headers"
      :items="apiKeys"
      class="api-keys-table"
      :item-class="getItemClass"
    >
      <template #item.enabled="{ item }">
        <div class="text-no-wrap">
          <v-chip v-if="item.enabled" color="success" variant="outlined">{{
            t('api-key-status-active')
          }}</v-chip>
          <v-chip
            v-if="!item.enabled"
            class="api-keys-table__table-row__status"
            color="error"
            variant="outlined"
            >{{ t('api-key-status-inactive') }}</v-chip
          ><v-icon
            v-if="!item.enabled && !isStaff && item.keyId"
            class="ml-2"
            color="error"
            data-test-id="key-mananger-api-key-disabled-show-help-trigger"
            @click="onShowDisabledKeyHelp(item.keyId)"
            >mdi-information-outline</v-icon
          >
        </div>
      </template>
      <template #item.keyId="{ item }">
        <span class="api-keys-table__table-row__key-id">{{
          item.keyId
        }}</span>
      </template>
      <template #item.actions="{ item }">
        <v-menu location="bottom left">
          <template #activator="{ props }">
            <v-btn
              icon
              variant="flat"
              v-bind="props"
              class="api-keys-table__table-row__context-menu-trigger"
            >
              <v-icon size="small">mdi-dots-vertical</v-icon>
            </v-btn>
          </template>

          <v-list v-if="!isStaff">
            <v-list-item @click="onEditApiKey(item)">
              <v-list-item-title>Edit</v-list-item-title>
            </v-list-item>
            <v-list-item
              class="api-keys-table__context-menu__delete-key-button"
              @click="onDeleteApiKey(item)"
            >
              <v-list-item-title>Delete</v-list-item-title>
            </v-list-item>
          </v-list>

          <v-list v-if="isStaff">
            <v-list-item
              class="api-keys-table__context-menu__toggle-key-button"
              @click="onToggleApiKey(item)"
            >
              <v-list-item-title>{{
                t(getItemToggleMenuItemText(item))
              }}</v-list-item-title>
            </v-list-item>
          </v-list>
        </v-menu>
      </template>
      <template #top>
        <v-toolbar flat>
          <v-toolbar-title>{{ $t('api-key-table-title') }}</v-toolbar-title>
          <v-spacer></v-spacer>
        </v-toolbar>
      </template>
      <template #footer.prepend>
        <v-btn
          v-if="!isStaff"
          color="secondary"
          rounded
          class="api-keys-card__add-new-key-button me-auto"
          @click="onCreateApiKey"
        >
          <v-icon>mdi-plus</v-icon>
          {{ $t('arraylayout_add') }}
        </v-btn>
      </template>
    </v-data-table>
  </div>
</template>

<script setup lang="ts">
import {
  APIKey,
  DeleteAPIKeyRequest,
  UpdateAPIKeyRequest,
} from '@/generated/openapi';
import { getTableRowClass, useApiKeys } from '@/core/apiKeys';
import { open as openDialog } from '@/composable/useGlobalDialog';
import { isNotEmptyString } from '@/utils/helpers';
import { useTranslation } from '@/composable/useI18n';
import { useAlert } from '@/composable/useAlert';
import { useUserInfo } from '@/composable/useAuth';
import ApiKeyView from '@/components/Organizations/ApiKeyView.vue';
import ApiKeyActionsView from '@/components/Organizations/ApiKeyActionsView.vue';
import { extractErrorMessageAsync } from '@/utils/error/extractMessage';
import ApiKeyDisabledHelp from '@/components/Organizations/ApiKeyDisabledHelp.vue';
import type { VDataTable } from 'vuetify/components';

const { isStaff } = useUserInfo();
const t = useTranslation();
const { alertError } = useAlert();

const _props = defineProps<{
  memberId: number;
  apiKeys: APIKey[];
}>();
const { create, load, update, deleteKey, toggleKey } = useApiKeys(
  _props.memberId
);

const getItemClass = (item: APIKey) => {
  return `${getTableRowClass(item.keyId || '')} api-keys-table__table-row`;
};

const isEnabled = (item: APIKey) => item.enabled || false;

const getItemToggleMenuItemText = (item: APIKey) =>
  isEnabled(item) ? 'api-key-deactivate' : 'api-key-activate';

const onShowDisabledKeyHelp = async (apiKeyId: string) => {
  try {
    await openDialog({
      type: 'component',
      title: t('api-key-disabled-help-title'),
      component: ApiKeyDisabledHelp,
      componentProps: {
        apiKeyId: apiKeyId,
        title: 'api-key-disabled-help-title',
      },
      componentOnly: true,
      confirmButtonText: 'button-close',
      showCancelButton: false,
    });
  } catch (_e) {
    extractErrorMessageAsync(_e);
  }
};

const onToggleApiKey = async (item: APIKey) => {
  try {
    await openDialog({
      type: 'confirm',
      title: !isEnabled(item)
        ? 'api-key-activate-confirm-title'
        : 'api-key-deactivate-confirm-title',
      confirmButtonText: !isEnabled(item)
        ? 'api-key-activate'
        : 'api-key-deactivate',
    });
    await toggleKey(item);
  } catch (_e) {
    extractErrorMessageAsync(_e);
  } finally {
    load();
  }
};

const onCreateApiKey = async () => {
  try {
    const userInput = await openDialog({
      type: 'input',
      title: t(
        'apikeys_dialog-create_key-title',
        'Enter the API Key description'
      ),
    });
    const newKey = await create(userInput);
    if (!newKey || !newKey.key) {
      throw new Error(t('api-key-created-no-key-error'));
    }
    const apiKeyView = await openDialog({
      type: 'component',
      title: t('api-key-created-title'),
      message: 'Please copy your API key:',
      component: ApiKeyView,
      componentProps: { apiKey: newKey.key },
      actionsComponent: ApiKeyActionsView,
      width: 700,
    });
  } catch (_e) {
    // user has cancelled a dialog
    if (_e instanceof Error && _e.message) {
      alertError(_e.message);
    }
  } finally {
    load();
  }
};

const onEditApiKey = async (key: APIKey) => {
  try {
    const userInput = await openDialog({
      type: 'input',
      title: t(
        'apikeys_dialog-edit_key-title',
        'Enter the API Key description'
      ),
      textValue: key.description,
    });
    const request: UpdateAPIKeyRequest = {
      aPIKey: key,
    };
    if (isNotEmptyString(userInput) && request.aPIKey) {
      request.aPIKey.description = userInput;
    }
    update(request);
  } catch (_e) {
    // user has cancelled the create new API key dialog
  } finally {
    load();
  }
};

const onDeleteApiKey = async (key: APIKey) => {
  try {
    if (!isNotEmptyString(key.keyId)) {
      const errorMessage =
        'The key ID provided was empty. Please provide a key ID.';
      alertError(errorMessage);
      throw new Error(errorMessage);
    }
    await openDialog({
      type: 'input',
      inputType: 'confirmation',
      title: t('api-key-delete-confirmation-title'),
      message: t('api-key-delete-confirmation-instructions'),
      warningMessage: 'api-key-delete-confirmation-warning',
      confirmationText: 'DELETE',
    });
    const request: DeleteAPIKeyRequest = {
      keyId: key.keyId,
    };
    deleteKey(request);
  } catch (_e) {
    // user has cancelled the delete API key dialog
  }
};

const headers: VDataTable['$props']['headers'] = [
  {
    key: 'description',
    value: 'description',
    title: 'Description',
    headerProps: {class: 'api-keys-table__table-row__description'},
  },
  {
    key: 'keyId',
    value: 'Key ID',
    title: 'Key ID',
    headerProps: {class: 'api-keys-table__table-row__key-id'},
  },
  {
    key: 'enabled',
    value: 'Status',
    title: 'Status',
    headerProps: { class: 'api-keys-table__table-row__enabled'},
  },
  {
    key: 'actions',
    value: '',
    title: '',
    align: 'end',
  },
];
</script>
