<template>
  <div>
    <v-skeleton-loader v-if="loading" type="card"></v-skeleton-loader>
    <v-card v-if="!loading && users">
      <ResourceManagementOrganizationUsersTable
        :can-modify-users="canModifyUsers"
        :users="users"
        :dialog-title="formTitle"
        :show-dialog="dialog"
        :dialog-loading="dialogLoading"
        :add-user-form-data="addUserFormData"
        @openAddUserDialog="dialog = true"
        @closeAddUserDialog="onCloseAddUserDialog"
        @addUserFormUpdated="addUserFormData = $event"
        @addUser="addUser($event)"
        @deleteUser="deleteUser($event)"
      ></ResourceManagementOrganizationUsersTable>
    </v-card>
  </div>
</template>

<script setup lang="ts">
import { useTranslation } from '@/composable/useI18n';
import { Organization, ResponseError, User } from '@/generated/openapi';
import {
  createUserAndAddToOrg as APICreateUser,
  deleteUser as APIDeleteUser,
} from '@/core/users';
import { computed, ref } from 'vue';
import ResourceManagementOrganizationUsersTable from './OrganizationUsersTable.vue';
import { useDialogStore } from '@/stores/dialogs';
export type OrganizationUsersProps = {
  organization: Organization;
  users: User[];
  loading: boolean;
  canModifyUsers: boolean;
}
import { open as openDialog } from '@/composable/useGlobalDialog';

const _props = defineProps<OrganizationUsersProps>();
const emit = defineEmits(['alert', 'alertError', 'refreshUsers']);
const t = useTranslation();
const dialogStore = useDialogStore();
const addUserFormData: Record<string, any> = ref({});
const dialog = ref(false);
const dialogLoading = ref(false);
const formTitle = computed(() =>
  t('resource-manager-organisation-users_edit-form-title', 'Add User')
);
const addUser = async (username: string) => {
  try {
    dialogLoading.value = true;
    const user = await APICreateUser(
      username,
      _props.organization.memberId as number
    );
    emit(
      'alert',
      t('user-added-to-organization', {
        username: user.username,
        organization: _props.organization.name,
      })
    );
    emit('refreshUsers');
    dialog.value = false;
    // Reset the add user form username value to empty after a successful add user operation
    addUserFormData.value.username = '';
    return user;
  } catch (e) {
    let message = 'Unknown error';
    if (e instanceof ResponseError) {
      const text = await e.response.json();
      message = text.message;
    } else {
      if (e instanceof Error) {
        message = e.message;
      }
    }
    if (e instanceof Error) {
      dialogStore.showDialog(e);
    } else {
      dialogStore.showDialog(new Error(message));
    }
  } finally {
    dialogLoading.value = false;
  }
};
const deleteUser = async (user: any) => {
  await openDialog({
    type: 'confirm',
    title: t('confirm-delete-title', {
      defaultValue: 'Confirm deletion',
    }),
    message: t('confirm-delete-metadata-plus-admin-msg', { username: user?.username }),
    confirmButtonText: t('action-delete'),
    cancelButtonText: t('action-cancel'),
  });
  try {
    dialogLoading.value = true;
    await APIDeleteUser(user.userId as string);
    emit('alert', `User DELETED ${user?.userId} ${user?.username}`);
    emit('refreshUsers');
    dialog.value = false;
    return user;
  } catch (e) {
    let message = 'Unknown error';
    if (e instanceof ResponseError) {
      const text = await e.response.json();
      message = text.message;
    } else {
      if (e instanceof Error) {
        message = e.message;
      }
    }
    if (e instanceof Error) {
      dialogStore.showDialog(e);
    } else {
      dialogStore.showDialog(new Error(message));
    }
  } finally {
    dialogLoading.value = false;
  }
};
const onCloseAddUserDialog = () => {
  dialog.value = false;
  addUserFormData.value.username = '';
};
</script>

<style scoped>

</style>
