<template>
  <div>
    {{ getLabelText }}
  </div>
</template>

<script setup lang="ts">
import { computed } from 'vue';
import { useTranslation } from '@/composable/useI18n';
const _props = defineProps<{
  active: boolean;
}>();
const t = useTranslation();

const getLabelText = computed(() => {
  return _props.active
    ? t('subscription-status-text-label-active')
    : t('subscription-status-text-label-inactive');
});
</script>
