<template>
  <div class="switch-wrapper">
    <v-switch
      :model-value="active"
      :loading="getLoadingColor"
      color="primary"
      readonly
      :disabled="!isStaff"
    ></v-switch>
    <div class="overlay" @click="onChange(subscription, active)"></div>

  </div>
</template>

<script setup lang="ts">
import { Subscription, SubscriptionChangeRequest } from '@/core/subscriptions';
import { useLoadingColors } from '@/composable/useLoadingColors';
import { computed } from 'vue';
import { open as openDialog } from '@/composable/useGlobalDialog';
import { useUserInfo } from '@/composable/useAuth';
import { useTranslation } from '@/composable/useI18n';

const t = useTranslation();
const { isStaff } = useUserInfo();
const loading = useLoadingColors();
const _props = defineProps<{
  memberId: number;
  subscription: Subscription;
  active: boolean;
  loading: string | boolean;
}>();
// TODO: this could probably be simplified by emitting a promise instead
const emit = defineEmits<{
  (e: 'changeRequestConfirmed', request: SubscriptionChangeRequest): void;
  (e: 'changeRequestCancelled', request: SubscriptionChangeRequest): void;
  (e: 'changeRequestStart', request: SubscriptionChangeRequest): void;
}>();
const getLoadingColor = computed(() => {
  return _props.loading ? loading.color.value : false;
});
const onChange = async (subscription: Subscription, active: boolean) => {
  if (!isStaff.value) return;
  const request: SubscriptionChangeRequest = {
    memberId: _props.memberId,
    subscription: subscription,
    active: active,
  };
  emit('changeRequestStart', request);
  const confirmMessageKey = !active
    ? `dialog-message-confirm-subscription-enable-${subscription}`
    : `dialog-message-confirm-subscription-disable-${subscription}`;
  try {
    await openDialog({
      type: 'confirm',
      title: t('dialog-title-confirm-subscription-change', {
        defaultValue: 'Confirm subscription change',
      }),
      message: t(confirmMessageKey, {
        action: active,
        subscription: subscription,
      }),
    });
    emit('changeRequestConfirmed', request);
  } catch (_e) {
    emit('changeRequestCancelled', request);
  }
};
</script>

<style scoped>
.switch-wrapper {
  position: relative;
  display: inline-block;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  cursor: pointer;
}
</style>
