<template>
  <div v-if="control.data">
  <v-locale-provider>
    <control-wrapper
      ref="wrapperRef"
      v-bind="controlWrapper"
      :styles="styles"
      :isFocused="isFocused"
      :appliedOptions="appliedOptions"
    >
      <v-row>
        <v-col v-if="!appliedOptions.hideHorizontalLabel" cols="12" sm="4" md="3" class="field-label pb-0 pb-sm-4">
          {{ computedLabel }}
        </v-col>
        <v-col cols="12" :sm="appliedOptions.hideHorizontalLabel ? 12 : 8" :md="appliedOptions.hideHorizontalLabel ? 12 : 9">
          <v-hover v-slot="{ isHovering }">
            <info-text v-if="false" :msg="infoText.msg" :learn-more-link="infoText.link" :title="computedLabel"/>
            <ul class="unstyled-list">
              <li v-for="(line, index) in lines" :key="index" class="mb-2">{{ line }}</li>
            </ul>
          </v-hover>
        </v-col>
      </v-row>
    </control-wrapper>
    <v-divider class="my-2"/>
  </v-locale-provider>
  </div>
</template>

<script lang="ts">
import {ControlElement, isStringControl, JsonFormsRendererRegistryEntry, rankWith,} from '@jsonforms/core';
import {computed, defineComponent, inject, ref,} from 'vue';
import {rendererProps, RendererProps, useJsonFormsControl,} from '@jsonforms/vue';
import {ControlWrapper, DisabledIconFocus, useVuetifyControl,} from '@pvale/vue-vuetify';
import {VCombobox, VHover, VTextField} from 'vuetify/components';
import {JsonFormsI18nStateSymbol} from '@/constants/injectionKeys';
import {env} from '@/env';
import {useInfoText} from "@/forms/compositions";
import InfoText from "@/forms/components/common/InfoText.vue";

const controlRenderer = defineComponent({
  name: 'ReviewListRenderer',
  methods: {ref},
  components: {
    InfoText,
    ControlWrapper,
    VHover,
    VTextField,
    VCombobox,
  },
  directives: {
    DisabledIconFocus,
  },
  props: {
    ...rendererProps<ControlElement>(),
  },
  setup(props: RendererProps<ControlElement>) {
    const wrapperRef = ref(null);
    const isDevMode = env().isDevMode;
    const i18n = inject(JsonFormsI18nStateSymbol, null);
    const vControl = useVuetifyControl(
      useJsonFormsControl(props),
      (value) => value || undefined,
      300
    );

    const infoText = useInfoText(vControl, i18n);
    const description = computed(() => {
      return infoText.msg.value ? '' : vControl.control.value.description;
    });

    const lines = computed(() => {
      const data = vControl.control.value?.data;

      if (typeof data !== "string") {
        return [];
      }

      return vControl.control.value.data.split('\n').filter(line => line.trim() !== "");
    });

    return {
      ...vControl,
      isDevMode,
      wrapperRef,
      infoText,
      description,
      lines,
    };
  },
});

export default controlRenderer;

export const entry: JsonFormsRendererRegistryEntry = {
  renderer: controlRenderer,
  tester: rankWith(1, isStringControl),
};
</script>

<style>
.unstyled-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.help-text a {
  color: inherit;
}
.field-label {
  font-size: 1rem;
}
</style>
