<template>
  <div v-if="appliedOptions.reviewMode">
    <div v-if="layout.visible && hasData" class="mb-6">
    <h2 class="mb-2 ">{{ label.label.value.text }}</h2>
    <dispatch-renderer
      v-for="(element, index) in layout.uischema.elements"
      :key="`${layout.path}-${index}`"
      :class="styles.group.item"
      :schema="layout.schema"
      :uischema="element"
      :path="layout.path"
      :enabled="layout.enabled"
      :renderers="layout.renderers"
      :cells="layout.cells"
    />
   </div>
  </div>
  <v-card
    v-else-if="layout.visible"
    :class="classes"
    :elevation="!bare ? 2 : undefined"
    :outlined="bare"
    v-bind="vuetifyProps('v-card')"
  >
    <v-card-title
      v-if="layout.label"
      :class="styles.group.label"
      v-bind="vuetifyProps('v-card-title')"
    >{{ layout.label }}</v-card-title
    >
    <v-card-text
      v-bind="vuetifyProps(`v-card-text[${index}]`)"
      v-for="(element, index) in layout.uischema.elements"
      :key="`${layout.path}-${index}`"
      :class="styles.group.item"
    >
      <dispatch-renderer
        :schema="layout.schema"
        :uischema="element"
        :path="layout.path"
        :enabled="layout.enabled"
        :renderers="layout.renderers"
        :cells="layout.cells"
      />
    </v-card-text>
  </v-card>
</template>

<script lang="ts">
import {
  JsonFormsRendererRegistryEntry,
  Layout,
  rankWith,
  and,
  isLayout,
  uiTypeIs, JsonFormsSubStates, getI18nKey,
} from '@jsonforms/core';
import {computed, defineComponent, inject} from 'vue';
import {
  DispatchRenderer,
  rendererProps,
  useJsonFormsLayout,
  RendererProps, useJsonFormsLabel,
} from '@jsonforms/vue';
import { useVuetifyLayout, useVuetifyLabel } from '@pvale/vue-vuetify';
import { VCard, VCardTitle, VCardText } from 'vuetify/components';
import {containsPrimitiveValue} from "@/utils/helpers";
import {JsonFormsI18nStateSymbol} from "@/constants/injectionKeys";

const layoutRenderer = defineComponent({
  name: 'review-group-renderer',
  components: {
    DispatchRenderer,
    VCard,
    VCardTitle,
    VCardText,
  },
  props: {
    ...rendererProps<Layout>(),
  },
  setup(props: RendererProps<Layout>) {
    const layout = useVuetifyLayout(useJsonFormsLayout(props));
    const label = useVuetifyLabel(useJsonFormsLabel(props as any))
    const i18n = inject(JsonFormsI18nStateSymbol, null);
    const jsonforms = inject<JsonFormsSubStates>('jsonforms');
    const i18nKey =  getI18nKey(
     layout.layout.value.schema,
      layout.layout.value.uischema,
      layout.layout.value.path,
      'label'
    );
    const hasData = computed(() => containsPrimitiveValue(layout.layout.value.data))
    return {
      ...layout,
      hasData,
      i18nKey,
      label,
    }
  },
  computed: {
    bare(): boolean {
      return !!this.appliedOptions.bare;
    },
    alignLeft(): boolean {
      return !!this.appliedOptions.alignLeft;
    },
    classes(): string {
      const classes = ['my-1', 'pa-0', `${this.styles.group.root}`];
      if (this.bare) {
        classes.push(`${this.styles.group.bare}`);
      }
      if (this.alignLeft) {
        classes.push(`${this.styles.group.alignLeft}`);
      }
      return classes.join(' ');
    },
  },
});

export default layoutRenderer;

export const entry: JsonFormsRendererRegistryEntry = {
  renderer: layoutRenderer,
  tester: rankWith(2, and(isLayout, uiTypeIs('Group'))),
};
</script>

<!-- Default styles for the 'nested' feature -->
<style>
.group.group-bare {
  border: 0;
}
.group-bare > .group-label,
.group-bare > .group-item {
  padding-right: 0;
}
.group-align-left > .group-label,
.group-align-left > .group-item {
  padding-left: 0;
}
</style>
