// Color all normal links
a {
  &:link,
  &:visited,
  &:focus,
  &:hover,
  &:active {
    color: rgb(var(--v-theme-anchor));
  }
}

// Don't color any Vuetify links/buttons/etc.
a[class*='v-'] {
  &:link,
  &:visited,
  &:focus,
  &:hover,
  &:active {
    color: unset;
  }
}