<template>
  <content-registration-submission-complete-message
    v-if="completedRecord && isGrantRecord"
    :record-type="getRecordType"
    :submission-id="getSubmissionId"
    :doi="getDoi"
    @restart="restart"
    @download="download"
  />
  <deposit-success-message-journal-article
    v-if="completedRecord && isJournalArticleRecord"
    :record="completedRecord"
    @restart="restart"
    @download="download"
  />
  <div v-if="!completedRecord">
    No completed record found for this ID.
  </div>
</template>

<script lang="ts">
import {computed, defineComponent} from 'vue';
import { useAppService } from '@/statemachines/app.machine';
import { useActor } from '@xstate/vue';
import ContentRegistrationSubmissionCompleteMessage from '@/components/ContentRegistrationSubmissionCompleteMessage.vue';
import DepositSuccessMessageJournalArticle from "@/components/EditRecordForm/DepositSuccessMessageJournalArticle.vue";
import {ContentRegistrationType} from "@/common/types";
import { useSessionStore } from '@/stores/session';
import {useRecordStore} from "@/stores/records";

export default defineComponent({
  name: 'SubmissionComplete',
  components: {
    ContentRegistrationSubmissionCompleteMessage,
    DepositSuccessMessageJournalArticle,
  },
  props: {
    id: {
      type: String,
      required: true,
    }
  },
  setup(props) {
    const appService = useAppService();
    const sessionStore = useSessionStore();
    const recordStore = useRecordStore();
    const formDataService = useActor(
      appService.state.value.children.formDataMachine
    );
    const completedRecord = computed(() => {
      return recordStore.getCompletedRecordById(props.id)
    })
    const getRecordType= computed(() => {
      return completedRecord?.value?.recordType
    });
    const isGrantRecord = computed(() => {
      return getRecordType.value === ContentRegistrationType.Grant;
    });
    const isJournalArticleRecord = computed(() => {
      return getRecordType.value === ContentRegistrationType.JournalArticle;
    })
    const getSubmissionId = computed(() => {
      return completedRecord.value?.depositResponse?.submissionId || 0;
    })
    const getDoi = computed(() => {
      return completedRecord.value?.depositResponse?.doi || '';
    })
    const download = () => {
      recordStore.downloadRecord(props.id);
    }
    // return properties - these get merged with data() below
    return { formDataService, getRecordType, isGrantRecord, isJournalArticleRecord, getSubmissionId, getDoi, download, completedRecord };
  },
  methods: {
    restart() {
      this.$emit('restart');
    },
  },
});
</script>
