<template>
  <span>
    <span>
      <v-row class="mt-1">
        <v-col cols="12">
          <v-sheet v-if="!isGrantsForm" rounded elevation="1">
            <RecordEditBanner variant="elevated" :form-service="formDataService"></RecordEditBanner>
          </v-sheet>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="12">
          <component
            :is="formComponent"
            @change="onChange"
            @submit="onSubmit"
            :formData="data"
            :schema="schema"
            :submitting="isSubmitting"
            :submissionState="submissionState"
            :formConfig="formConfig"
          ></component>
        </v-col>
        <v-col cols="6"> </v-col>
      </v-row>
      <v-row v-if="isGrantsForm">
        <v-col cols="12">
          <v-btn color="primary" :disabled="!isFormValid" @click="onSubmit"
            >{{ $t('button_submit_text')
            }}<v-progress-circular
              v-if="isFormSubmitting"
              indeterminate
              size="18"
              width="2"
              class="ml-2"
            ></v-progress-circular
          ></v-btn>
          <router-link :to="{ name: RouteNames.records.index }"
            ><v-btn color="primary" class="ml-4" variant="outlined">{{
              $t('button_cancel_label')
            }}</v-btn></router-link
          >
          <v-btn
            color="primary"
            class="ml-4"
            variant="outlined"
            @click="download"
            >{{ $t('button_download_text') }}</v-btn
          >
        </v-col>
      </v-row>
    </span>
    <confirm-dialog ref="confirmDialogRef" />
  </span>
</template>
<script lang="ts">
import {
  computed,
  defineComponent,
  nextTick, onBeforeMount,
  onBeforeUnmount,
  onMounted,
  PropType,
  provide,
  Ref,
  ref,
  toRaw,
  unref, watch,
} from 'vue';
import { JsonForms, JsonFormsChangeEvent } from '@jsonforms/vue';
import {
  isObjectArrayControl,
  isObjectArrayWithNesting,
  isObjectControl,
  JsonFormsI18nState,
  JsonSchema,
  or,
  rankWith,
  scopeEndsWith,
} from '@jsonforms/core';
import {
  createJsonFormsErrorTranslator,
  createJsonFormsTranslator,
  I18nNamespace,
} from '../i18n';
import {
  createRecordFilename,
  createRecordWithId, getOrCreateRecord,
  mergeRecordDefaults,
  startRecordEdit,
  updateFormData,
} from '@/utils/helpers';
import { NewRecord } from '@/statemachines/create-record.machine';
import { ErrorObject } from 'ajv';
import ConfirmDialog from '@/components/AppConfirmDialog.vue';
import ContentRegistrationSubmissionComplete from '@/views/ContentRegistrationSubmissionComplete.vue';
import { useActor } from '@xstate/vue';
import { useAppService } from '@/statemachines/app.machine';
import * as Sentry from '@sentry/vue';
import { useLocale, useTranslationNamespace } from '@/composable/useI18n';
import JournalArticleForm from '@/forms/components/contentRegistrationForm/JournalArticleForm.vue';
import { ContentRegistrationFormPayload, ContentRegistrationFormSchema, ContentRegistrationType } from '@/common/types';
import GrantForm from '@/forms/components/contentRegistrationForm/GrantForm.vue';
import { getFormDataWithDefaults } from '@/forms/utils/formDataDefaults';
import { getSchemaForFormType } from '@/forms/utils/schemaFactory';
import { enableFilterErrorsBeforeTouchKey } from '@/injection-keys';
import updatePublicationDatesSchema from '@/forms/transformations/updatePublicationDatesSchema';
import updateIssnSchema from '@/forms/transformations/updateIssnSchema';
import updateIssueSchema from '@/forms/transformations/updateIssueSchema';
import { FormData, SchemaTransformationPair } from '@/forms/types';
import cloneDeep from 'lodash/cloneDeep';
import isEqual from 'lodash/isEqual';
import { onBeforeRouteLeave, onBeforeRouteUpdate } from 'vue-router';
import { ComponentNames } from '@/constants/componentNames'
import {Icons} from "@/constants/icons";
import RecordDownloadAlert from '@/components/RecordDownloadAlert.vue';
import RecordEditBanner from '@/components/RecordEditBanner.vue';
import { useRecordStore } from '@/stores/records';
import { useUserStore } from '@/stores/user';
import { UUID } from 'crypto';
import { useSessionStore } from '@/stores/session';
import {RouteNames} from "@/router";

const STATE_GENERATE_XML = 'submitRecord.generateXML';
const STATE_DEPOSIT_RECORD = 'submitRecord.depositRecord';

export default defineComponent({
  name: 'ContentRegistrationForm',
  components: {
    JournalArticleForm,
    JsonForms,
    ConfirmDialog,
    ContentRegistrationSubmissionComplete,
    RecordDownloadAlert,
    RecordEditBanner,
  },
  props: {
    recordType: {
      required: true,
      type: Object as PropType<ContentRegistrationType>,
    },
    recordId: {
      required: true,
      type: Object as PropType<string>,
    },
    formData: {
      required: false,
      type: Object,
      default: null,
    },
    formConfig: {
      required: false,
      type: Object,
      default: {}
    }
  },
  emits: ['change', 'submit'],
  setup(props, { emit }) {
    const confirmDialogRef = ref(null);
    const appService = useAppService();
    const recordStore = useRecordStore();
    const sessionStore = useSessionStore();
    const userStore = useUserStore();
    const formDataService = useActor(
      appService.state.value.children.formDataMachine
    );
    const isSubmitting = computed(() => {
      return formDataService.state.value.matches('submitRecord');
    });

    // Extract the deepest child (leaf node) of a hierarchical state
    const getLastState = (state: string): string => {
      const parts = state.split('.');
      return parts[parts.length - 1] || '';
    };

    // Match submission states from the form state machine
    // Return the deepest child state
    const submissionState = computed(() => {
      const { value } = formDataService.state;

      if (value.matches(STATE_GENERATE_XML)) {
        return getLastState(STATE_GENERATE_XML);
      }
      if (value.matches(STATE_DEPOSIT_RECORD)) {
        return getLastState(STATE_DEPOSIT_RECORD);
      }
      return '';
    });

    // Computed property to determine if the form is currently in the editing state
    const isEditing = computed(() =>
      formDataService.state.value.matches('editingForm')
    );

    // Reference to store the initial state of form data on component mount
    const initialFormData = ref(null);

    // Function to check if the current form data differs from the initial form data
    const isDirty = () => {
      return !isEqual(
        initialFormData.value,
        sessionStore.currentRecord?.formData
      );
    };

    // Function to handle user confirmation before navigating away if there are unsaved changes
    async function handleNavigationConfirmation(next: Function) {
      if (isEditing.value && isDirty()) {
        // Prompt user to confirm leaving the page if unsaved changes are detected
        const confirmed = await confirmLeavePage();
        confirmed ? next() : next(false); // Proceed based on confirmation
      } else {
        // Allow navigation if no unsaved changes or not editing
        next();
      }
    }

    // Function to display a confirmation dialog when attempting to navigate away
    const confirmLeavePage = async () => {
      // Check if the confirmation dialog reference exists and invoke it
      return confirmDialogRef.value
      // @ts-ignore
        ? await confirmDialogRef.value.open(
            'Are you sure you want to leave?',
            'You have unsaved changes that will be lost if you leave this page.'
          )
        : false;
    };

    // Setup route leave guard
    onBeforeRouteLeave(async (to, from, next) => {
      await handleNavigationConfirmation(next);
    });

    // Setup route update guard
    onBeforeRouteUpdate(async (to, from, next) => {
      await handleNavigationConfirmation(next);
    });

    // Listener for the browser's beforeunload event
    const beforeUnloadListener = (event) => {
      if (isEditing.value && isDirty()) {
        event.preventDefault(); // Prevent default behavior to allow user confirmation
        const message =
          'You have unsaved changes. If you leave, they will be lost.';
        event.returnValue = message; // Set message for old browsers (mostly ignored by modern browsers)
        return message; // Return the message for compatibility
      }
    };

    // Add beforeunload event listener on component mount
    onMounted(() => {
      window.addEventListener('beforeunload', beforeUnloadListener);
      // Capture the initial form data state as soon as the component is mounted
    });

    // Clean up by removing the event listener before the component is unmounted
    onBeforeUnmount(() => {
      window.removeEventListener('beforeunload', beforeUnloadListener);
    });

    const errors = ref<ErrorObject[]>([]);
    // reactive property to control whether form field errors are hidden before an input has been touched.
    // allows overriding to force errors to display eg when the users tries to submit the form, and it is not valid
    const enableFilterErrorsBeforeTouch = ref(true);
    provide<Ref<boolean>>(
      enableFilterErrorsBeforeTouchKey,
      enableFilterErrorsBeforeTouch
    );
    const xml = ref('');

    const isGrantsForm = computed(() => {
      return props.recordType === ContentRegistrationType.Grant
    })

    const formComponent = computed(() => {
      switch (props.recordType) {
        case ContentRegistrationType.Grant:
          return GrantForm;
        case ContentRegistrationType.JournalArticle:
          return JournalArticleForm;
        default:
          throw new Error(
            `No component available for record type: ${props.recordType}`
          );
      }
    });
    const schemaBundle = ref(getSchemaForFormType(props.recordType));
    const schema = ref(schemaBundle.value.schema);

    const record = ref(null);

    const fetchAndSetRecord = async (recordId: string) => {
      if (!recordId) {
        record.value = null;
        return;
      }
      schemaBundle.value = getSchemaForFormType(props.recordType);
      schema.value = schemaBundle.value.schema;

      const recordPayload = getOrCreateRecord(recordId, schemaBundle.value, props.recordType, props.formData);
      console.debug(`Starting record ${recordId} edit`);
      startRecordEdit(recordPayload, formDataService);
      record.value = sessionStore.currentRecord?.formData;
      initialFormData.value = record.value;
    };
    watch(
      [() => props.recordId, () => props.recordType],
      async ([newRecordId, newRecordType], [oldRecordId, oldRecordType]) => {
        if (newRecordId !== oldRecordId || newRecordType !== oldRecordType) {
          console.debug(`recordId or recordType changed: ${newRecordId}, ${newRecordType}`);
          await fetchAndSetRecord(newRecordId);
        }
      },
      { immediate: true }
    );

    const data = computed(() => sessionStore.currentRecord?.formData);

    /**
     * Defines an array of schema transformation entries, each capable of testing
     * and transforming a JSON schema based on the current and previous form data.
     * @type {SchemaTransformationPair[]}
     */
    const schemaTransformationEntries: SchemaTransformationPair[] = [
      updatePublicationDatesSchema,
      updateIssnSchema,
      updateIssueSchema,
    ];
    /**
     * Applies a series of schema transformations to a JSON schema based on the current
     * and previous form data within a given context. Each transformation is conditionally
     * applied based on a tester function that evaluates whether the transformation
     * should be applied, given the current schema, data, and context.
     *
     * @param {FormData} currentData - The current state of the form data.
     * @param {FormData} prevData - The previous state of the form data, defaulting to an empty object.
     * @param {any} context - An arbitrary context object that can be used in the tester
     * and transform functions, defaulting to an empty object.
     * @returns {JsonSchema} - The transformed JSON schema, which may be the original schema
     * if no transformations were applied.
     */
    function applySchemaTransformations(
      currentData: FormData,
      prevData: FormData = {},
      context: any = {}
    ): JsonSchema {
      return schemaTransformationEntries.reduce(
        (currentSchema, { tester, transform }) => {
          return tester(currentSchema, currentData, prevData, context)
            ? transform(currentSchema, currentData)
            : currentSchema;
        },
        cloneDeep(toRaw(schema.value))
      ); // Using cloneDeep to avoid mutating the original schema
    }

    const { locale } = useLocale();
    const i18n = computed(() => {
      return {
        locale: unref(locale),
        translate: createJsonFormsTranslator(I18nNamespace.ContentRegistration),
        translateError: createJsonFormsErrorTranslator(unref(locale)),
      };
    }) as JsonFormsI18nState;

    /**
     * Handles changes to the JSON Forms data, updates the form's schema based on the current form data,
     * and sends the updated form data to the form data service. It also updates the form's error state.
     * This method is triggered whenever a change event is emitted from the JSON Forms component.
     *
     * @param event - The JSON Forms change event, containing the new form data and any validation errors.
     */
    const onChange = (event: JsonFormsChangeEvent) => {
      // Unwrap the current data from the Vue computed property to get its raw value.
      if (props.recordType === ContentRegistrationType.JournalArticle) {
        const updatedSchema = applySchemaTransformations(
          event.data,
          unref(data)
        );
        // Check if the form's schema has changed based on the transformations applied.
        // If it has, update the schema's value to the new version.
        if (!isEqual(toRaw(schema.value), updatedSchema)) {
          schema.value = updatedSchema;
        }
      }

      updateFormData(event.data);

      // Update the component's local state to reflect any validation errors in the form data.
      errors.value = event.errors || [];
    };

    const onSubmit = (_event: Event) => {
      // on a form submit attempt, display all errors, whether or not the control has been touched
      enableFilterErrorsBeforeTouch.value = false;
      emit('submit', { data });
    };

    const download = () => {
      sessionStore.downloadRecord()
    }

    Sentry.setContext('form', {
      formData: formDataService.state.value.context.formData,
    });

    const nsT = useTranslationNamespace(I18nNamespace.ContentRegistration);

    const avatarText = computed(() => {
      switch (props.recordType) {
        case ContentRegistrationType.Grant:
          return 'Gr';
        case ContentRegistrationType.JournalArticle:
          return 'Ja';
        default:
          return '';
      }
    });
    return {
      appService,
      avatarText,
      locale,
      formDataService,
      schema,
      errors,
      xml,
      data,
      i18n,
      nsT,
      formComponent,
      onSubmit,
      onChange,
      isSubmitting,
      submissionState,
      confirmDialogRef,
      isEditing,
      isGrantsForm,
      download,
      initialFormData,
    };
  },
  computed: {
    RouteNames() {
      return RouteNames
    },
    getRecordType(): string {
      return `${this.recordType}`;
    },
    isFormSubmitting(): boolean {
      return false;
      // return ['submitRecord.checkCredentials', 'submitRecord.depositRecord'].some(this.contentRegistrationMachine.state.value.matches)
    },
    isFormDataEmpty(): boolean {
      return Object.keys(this.data || {}).length === 0;
    },
    isFormValid(): boolean {
      return !this.isFormDataEmpty && !this.formHasErrors;
    },
    formHasErrors(): boolean {
      return this.errors instanceof Array && this.errors.length > 0;
    },
    errorCount(): number {
      return this.errors instanceof Array ? this.errors.length : 0;
    },
  },
  methods: {
    restart() {
      this.formDataService.send('RESTART');
    },
    createRecordFilename(record: NewRecord) {
      return createRecordFilename(record);
    },
  },
});
</script>

<style>
@media only screen and (max-width: 959px) {
  .v-stepper:not(.v-stepper--vertical) .v-stepper__label {
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Chrome */
    display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
  }
  @media only screen and (max-width: 959px) {
    .v-stepper:not(.v-stepper--vertical) .v-stepper__step__step {
      margin-right: 12px;
    }
  }
}
</style>
