<template>
  <div>
    <h1>Fluent syntax demo</h1>
    <ul>
      <li>
        Variable: {{ nsT('demo_variable', { replace: { name: 'World' } }) }}
      </li>
      <li>Placeable: {{ nsT('demo_placeable') }}</li>
      <li>Multi Line Text: {{ nsT('demo_multi_line') }}</li>
      <li>Block Text: {{ nsT('demo_block_text') }}</li>
      <li>Large Number: {{ nsT('demo_large_number') }}</li>
      <li>
        Large Number without fractional digits:
        {{ nsT('demo_large_number_no_fractions') }}
      </li>
      <li>Rank: {{ nsT('demo_rank', { pos: pos }) }}</li>
      <li>
        Attributes:
        <input
          :value="nsT('demo_attributes', 'default value')"
          :aria-label="
            nsT('demo_attributes_aria-label', 'default aria-label') || undefined
          "
        />
      </li>
      <li></li>
    </ul>
  </div>
</template>

<script setup lang="ts">
import { useTranslationNamespace } from '@/composable/useI18n';
import { I18nNamespace } from '@/i18n';
import { onMounted, ref } from 'vue';

const pos = ref(Math.floor(Math.random() * 11));
onMounted(() => {
  setInterval(() => {
    pos.value = Math.floor(Math.random() * 11);
  }, 1000);
});

// eslint-disable-next-line @typescript-eslint/no-unused-vars
const nsT = useTranslationNamespace(I18nNamespace.FluentDemo);
</script>

<style scoped>
input {
  border: 1px solid;
}
</style>
