<template>
  <v-card>
    <v-card-title>{{ $t('home_headline') }}</v-card-title>
  </v-card>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import { VCard, VCardTitle } from 'vuetify/components';

export default defineComponent({
  name: 'Home',
  components: { VCard, VCardTitle },
});
</script>
