<script setup lang="ts">
import { useTranslation, useTranslationNamespace } from '@/composable/useI18n';
import { env } from '@/env';
import { I18nNamespace } from '@/i18n';
import { RouteNames } from '@/router';

const nsT = useTranslationNamespace(I18nNamespace.ContentRegistration);
const t = useTranslation();
</script>

<template>
  <v-row>
    <v-col cols="12" md="6" lg="4">
      <v-card min-height="300" class="d-flex flex-column">
        <v-card-title>{{ t('record-registration-title') }}</v-card-title>
        <v-card-text>
          <div class="text-medium-emphasis">
          {{ nsT('home_subtitle') }}
            </div>
        </v-card-text>
        <v-divider class="mb-8 mx-2"/>
        <v-card-actions class="mt-auto">
            <v-btn block color="primary" :to="{ name: RouteNames.records.index }">{{ t('record-registration-cta') }}</v-btn>
        </v-card-actions>
      </v-card>
    </v-col>
    <v-col v-if="env().isKeycloakEnabled" cols="12" md="6" lg="4">
      <v-card min-height="300" class="d-flex flex-column">
        <v-card-title>{{ t('key-manager-title') }}</v-card-title>
        <v-card-text>
          <div class="text-medium-emphasis">
          {{ t('api-keys-manage-description') }}
            </div>
        </v-card-text>
        <v-divider class="mb-8 mx-2"/>
        <v-card-actions class="mt-auto">
            <v-btn block color="primary" :to="{ name: RouteNames.keyManager.organisation.index }">{{ t('api-keys-manage-cta') }}</v-btn>
        </v-card-actions>
      </v-card>
    </v-col>
  </v-row>
</template>
