<template>
  <v-app>
    <GlobalDialog />
    <pre id="config" v-if="showConfig">{{ config }}</pre>
    <pre id="data" v-if="showRawData">{{data}}</pre>
    <custom-json-forms
      :form-data="data"
      :json-schema="schema"
      :ui-schema="uischema"
      :renderers="renderers"
      :config="config"
      :readonly="readonly"
      @change="onChange"
    />
  </v-app>
</template>

<script setup lang="ts">
/**
 * Test Harness for JSON Schema-based forms
 * Pass in the JSON Schema, ui schema, form data, renderers and config to suit the
 * form or renderer you want to test.
 */
import { computed, ref } from 'vue';
import { JsonFormsChangeEvent } from '@jsonforms/vue';
import { VApp } from 'vuetify/components';
import { JsonSchema } from '@jsonforms/core';
import { extendedVuetifyRenderers } from '@pvale/vue-vuetify';
import {
  ContributorRoleRendererEntry,
  LanguageChooserRendererEntry,
  StringControlRendererEntry
} from '@/forms/renderers';
import CustomJsonForms from '@/forms/components/common/CustomJsonForms.vue';
import GlobalDialog from '@/components/GlobalDialog.vue';
import { ErrorObject } from 'ajv';

// Define props
const props = defineProps<{
  initialData?: Record<any, any>;
  schema: JsonSchema;
  uischema?: any;
  config?: Record<string, any>;
  initialRenderers?: Array<any>;
  readonly?: boolean;
  testConfig?: any;
}>();

// Define emits
const emit = defineEmits<{
  (event: 'update:data', data: any): void;
  (event: 'update:errors', data: any): void;
}>();

// Reactive state
const data = ref(props.initialData);
const errors = ref<ErrorObject[]>([]);
const renderers = ref([
  ...(props.initialRenderers || []),
  ...extendedVuetifyRenderers,
  ContributorRoleRendererEntry,
  LanguageChooserRendererEntry,
  StringControlRendererEntry
]);
const showRawData = computed(() => {
  return props?.testConfig?.showRawData === true;
})
const showConfig = computed(() => {
  return props?.testConfig?.showConfig === true;
})

// Event handlers
const onChange = (event: JsonFormsChangeEvent) => {
  data.value = event.data;
  emit('update:data', event.data);
  errors.value = event.errors && event.errors?.length ? event.errors : [];
  emit('update:errors', event.errors);
};
</script>
