<script setup lang="ts">
import OrganizationUsers, { OrganizationUsersProps } from '@/components/Organizations/OrganizationUsers.vue';
import ErrorDialog from '@/components/ErrorDialog.vue';
import GlobalDialog from '@/components/GlobalDialog.vue';
const props = defineProps<OrganizationUsersProps>();
console.log(props)
</script>
<template>
  <OrganizationUsers v-bind="props"></OrganizationUsers>
  <ErrorDialog></ErrorDialog>
  <GlobalDialog></GlobalDialog>
</template>
