<template>
  <v-app>
    <ToolbarItem 
    :name="ComponentNames.ToolbarItemDownloadRecord"
    :icon="Icons.Download"
    l10nKey="action-download-record"
    :call-back="() => { }"
    @executeCallback="callbackTriggered = true"
    />
    <h1 v-if="callbackTriggered">CALLBACK RECEIVED</h1>
  </v-app>
</template>

<script setup lang="ts">
/**
 * Test Harness for Error dialogs
 */
import { ref, watch } from 'vue';
import { VApp } from 'vuetify/components';
import { Dialog, useDialogStore } from '@/stores/dialogs';
import { DepositSubmissionAuthenticationError, DepositSubmissionError, XmlConversionBadInputError, XmlConversionError } from '@/errors';
import ToolbarItem from '@/components/ToolbarItem.vue';
import { ComponentNames } from '@/constants/componentNames';
import { Icons } from '@/constants/icons';
import AppLogoSquare from '@/components/AppLogoSquare.vue';

const callbackTriggered = ref(false)

</script>
