// From https://techformist.com/reusable-confirmation-dialog-vuetify/
<template>
  <v-dialog
    v-model="dialog"
    :max-width="options.width"
    :style="{ zIndex: options.zIndex }"
    @keydown.esc="cancel"
  >
    <v-card>
      <v-card-title class="text-h5">
        {{ title }}
      </v-card-title>

      <v-card-text>
        {{ message }}
      </v-card-text>

      <v-card-actions>
        <v-spacer></v-spacer>

        <v-btn
          v-if="!options.noconfirm"
          @click="cancel"
        >
          Cancel
        </v-btn>

        <v-btn @click="agree">
          OK
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
export default defineComponent({
  name: 'ConfirmDialog',
  data() {
    return {
      dialog: false,
      resolve: null as ((data: unknown) => void) | null,
      reject: null as ((reason: any) => void) | null,
      message: null,
      title: null,
      options: {
        color: 'grey lighten-3',
        width: 400,
        zIndex: 2000,
        noconfirm: false,
      },
    };
  },

  methods: {
    open(title: any, message: any, options: any) {
      this.dialog = true;
      this.title = title;
      this.message = message;
      this.options = Object.assign(this.options, options);
      return new Promise((resolve, reject) => {
        this.resolve = resolve;
        this.reject = reject;
      });
    },
    agree() {
      this.resolve?.(true);
      this.dialog = false;
    },
    cancel() {
      this.resolve?.(false);
      this.dialog = false;
    },
  },
});
</script>
