<template>
  <span>
    <v-row class="">
      <v-col cols="12">
        <v-card>
          <v-card-title>
            <v-icon color="primary" size="large" class="mr-2"
              >mdi-check-circle</v-icon
            >
            {{ nsT('record-submission-success-msg-grant') }}
          </v-card-title>
          <v-card-text>
            <p>
              {{ nsT('submit_complete_description') }}
            </p>
            <v-btn
              color="primary"
              variant="outlined"
              rounded
              class="mt-4"
              data-test="btn-download"
              @click="$emit('download')"
              >{{ nsT('submit_complete_button_download_text') }}</v-btn
            >
            <v-divider class="mt-8 mb-8"></v-divider>
            <v-row>
              <v-col>
                <p class="text-subtitle-1" data-test="submission-id">
                  {{ nsT('editRecord_deposit_submissionId') }} {{ submissionId }}
                </p>
              </v-col>
              <v-col>
                <p class="text-subtitle-1" data-test="doi">
                  DOI <a :href="getDOIUrl">{{ doi }}</a>
                </p>
              </v-col>
            </v-row>
            <v-row>
              <v-col>
                <p class="text-h6 mt-4">{{ nsT('whats-next') }}</p>
                <ul class="pl-4">
                  <li class="mt-2">
                    <TranslationComponent
                      :translation="nsT('editRecord_despoitSuccess_nextActions_apiMsg')"
                    >
                      <template #metadata-search-link>
                        <AppLink :to="URL_METADATA_SEARCH">{{
                          nsT('brand-name-metadata-search')
                        }}</AppLink>
                      </template>
                    </TranslationComponent>
                  </li>
                  <li class="mt-2">
                    {{
                      nsT('editRecord_despoitSuccess_nextActions_checkSubmissionMsg')
                    }}
                    <AppLink :to="getSubmissionUrl">{{ submissionId }}</AppLink>
                  </li>
                </ul>
              </v-col>
            </v-row>
          </v-card-text>
          <v-card-actions>
            <router-link :to="{ name: RouteNames.records.index }"
              ><v-btn
                color="primary"
                variant="flat"
                data-test="btn-restart"
                @click="$emit('restart')"
              >
                {{ nsT('submit_complete_button_restart_text') }}
              </v-btn>
            </router-link>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </span>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import { env } from '@/env';
import { PATH_ADMIN_SYSTEM_SUBMISSION_BY_ID, URL_METADATA_SEARCH } from '@/constants/urls';
import { useTranslationNamespace } from '@/composable/useI18n';
import { I18nNamespace } from '@/i18n';
import { RouteNames } from '@/router';
import { TranslationComponent } from 'i18next-vue';
import AppLink from './AppLink.vue';

export default defineComponent({
  name: 'ContentRegistrationSubmissionCompleteMessage',
  props: {
    submissionId: {
      type: Number,
      required: true,
    },
    doi: {
      type: String,
      required: true,
    },
  },
  components: {
    TranslationComponent, AppLink
  },
  setup() {
    const nsT = useTranslationNamespace(I18nNamespace.ContentRegistration);
    return {
      nsT, URL_METADATA_SEARCH,
    };
  },
  computed: {
    RouteNames() {
      return RouteNames;
    },
    getSubmissionUrl(): string {
      return `${env().DEPOSIT_API_HOST}${PATH_ADMIN_SYSTEM_SUBMISSION_BY_ID}${
        this.submissionId
      }`;
    },
    getDOIUrl(): string {
      return `https://doi.org/${this.doi}`;
    },
  },
});
</script>
