<template>
  <v-overlay
    :model-value="loadingState"
    scrim="white"
    persistent
    attach
    class="loading-spinner-overlay align-center justify-center"
  >
    <v-progress-circular
      absolute
      indeterminate
      size="64"
      :color="getLoadingColor"
    >
      <app-logo-square alt="Logo" class="rotate" width="24"></app-logo-square>
    </v-progress-circular>
  </v-overlay>
</template>

<script lang="ts" setup>
import AppLogoSquare from './AppLogoSquare.vue';

const _props = defineProps<{
  getLoadingColor: string;
  loadingState: boolean;
}>();
</script>

<style>
.rotate {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loading-spinner-overlay .v-overlay__scrim {
  opacity: 1;
}
</style>
