<template>
  <v-text-field
    prepend-inner-icon="mdi-magnify"
    placeholder="Search"
    :class="{ 'expanding-search': true, closed: searchClosed }"
    :model-value="searchText"
    single-line
    clearable
    hide-details
    variant="outlined"
    density="compact"
    data-cy="search-box__input"
    @focus="toggle"
    @blur="toggle"
    @update:model-value="onChange"
  ></v-text-field>
</template>

<script lang="ts">
import { defineComponent, computed, inject } from 'vue';
import { StateValue } from 'xstate';
import { useActor } from '@xstate/vue';
import { searchSymbol } from '@/statemachines/search.machine';

export default defineComponent({
  name: 'SearchButton',
  setup() {
    // const appService = useAppService()
    const searchService = inject(searchSymbol);
    /**
     * @xstate-vue2 has not been updated to take account of xstate/typegen
     */
    // eslint-disable-next-line @typescript-eslint/ban-ts-comment
    // @ts-ignore
    const searchBoxToggleMachine = useActor(searchService);
    const searchText = computed(() => {
      return searchBoxToggleMachine.state.value.context.text;
    });
    const toggle = () => {
      searchBoxToggleMachine.send('TOGGLE');
    };
    const onChange = (e: string) => {
      searchBoxToggleMachine.send({
        type: 'REPORT_TEXT_CHANGE',
        text: e,
      });
    };
    return {
      searchBoxToggleMachine,
      searchText,
      onChange,
      toggle,
    };
  },
  computed: {
    searchBoxState(): StateValue {
      return this.searchBoxToggleMachine.state.value.value;
    },
    isShown(): boolean {
      return this.searchText.length > 0 || this.searchBoxState === 'shown';
    },
    searchClosed(): boolean {
      return this.searchBoxState === 'hidden';
    },
  },
});
</script>

<style lang="sass">
.v-input.expanding-search
  transition: max-width 0.3s ease-out
  max-width: 200px
  &.closed
    transition: max-width 0.3s ease-in
    max-width: 45px
</style>
