<template>
  <v-menu v-if="username">
    <template #activator="{ props }">
      <v-btn
        v-bind="props"
        max-width="50%"
        variant="text"
        style="display: block; text-align: left"
        data-test-id="user-menu-trigger"
      >
        <span
          class="text-truncate text-none font-weight-regular"
          data-test-id="user-menu-username"
          >{{ username }}</span
        ><v-icon>mdi-menu-down</v-icon></v-btn
      >
    </template>
    <v-list>
      <v-list-item
        data-test-id="user-menu-logout-trigger"
        @click="$emit('LOGOUT_REQUEST')"
      >
        <v-list-item-title>{{
          $t('user_avatar__logout', 'Log out')
        }}</v-list-item-title>
      </v-list-item>
    </v-list>
  </v-menu>
</template>

<script setup lang="ts">
/**
 * A drop-down menu presenting the available user actions
 */

const _props = defineProps<{ username?: string | null }>();
</script>

<style scoped>

</style>
