<template>
  <div>
    <v-menu location="bottom center">
      <template v-slot:activator="{ props }">
        <v-btn icon :aria-label="btnLabel" v-bind="props" data-test-id="toolbar-item-activator">
          <v-icon :icon="Icons.Download" color="primary" size="large"></v-icon>
        </v-btn>
      </template>
      <v-list>
        <v-list-item class="cursor-pointer" @click="emit('executeCallback')" data-test-id="toolbar-item-callback-target">
          <v-list-item-title>
            <v-icon icon="mdi-arrow-down"></v-icon>{{
              btnLabel
            }}</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-menu>
  </div>
</template>

<script setup lang="ts">
import { useTranslationNamespace } from '@/composable/useI18n';
import { Icons } from '@/constants/icons';
import { I18nNamespace } from '@/i18n';
import { ToolBarItem } from '@/stores/toolbar';
import { computed } from 'vue';

const _props = defineProps<ToolBarItem>();
const emit = defineEmits<{
  (event: 'executeCallback', data?: any): void;
}>();

const t = useTranslationNamespace(I18nNamespace.ContentRegistration);
const btnLabel = computed(() => {
  if (_props.l10nKey) {
    return t(_props.l10nKey);
  }
});
</script>
