<script setup lang="ts">
import SubmissionComplete from "@/views/ContentRegistrationSubmissionComplete.vue";
import {useRoute, useRouter} from "vue-router";
import {computed, onBeforeMount} from "vue";
import {useSingleRouteParam} from "@/composable/useSingleRouteParam";
import {useRecordStore} from "@/stores/records";
import {RouteNames} from "@/router";
import {useNotificationStore} from "@/stores/notifications";
import {useTranslation} from "@/composable/useI18n";
import {usePageTitle} from "@/composable/usePageTitle";

const route = useRoute();
const router = useRouter();
const recordId = useSingleRouteParam('id');
const recordStore = useRecordStore();
const notificationStore = useNotificationStore();
const t = useTranslation();
usePageTitle().setTitle(t('record-deposit-success'));
const completedRecord = computed(() => {
  return recordStore.getCompletedRecordById(recordId.value)
})
onBeforeMount(() => {
  if (!completedRecord.value) {
    notificationStore.addNotification(
      t('records-could-not-find-record-for-id', { recordId: recordId.value })
    )
    router.replace({ name: RouteNames.records.index });
  }
});
</script>
<template>
  <SubmissionComplete :id="recordId"></SubmissionComplete>
</template>
