<script setup lang="ts">
import { JsonSchema, UISchemaElement } from '@jsonforms/core';
import CustomJsonForms from '@/forms/components/common/CustomJsonForms.vue';
import { ref } from 'vue';
import { FormData } from '@/forms/types';
import { input as grants } from '@/schema/ContentRegistrationGrants';
import { populateDefaults } from '@/utils/schema';
import cloneDeep from 'lodash/cloneDeep';
import useFormTheme from "@/composable/useFormTheme";

const props = defineProps<{
  jsonSchema: JsonSchema;
  uiSchema: UISchemaElement;
  formData: FormData;
  renderers: [];
}>();

const formTheme = useFormTheme();
formTheme.changeFormTheme('grantForm')

const onChange = (event) => {
  emit('change', event);
};

const emit = defineEmits<{ change: any; submit: any }>();
</script>

<template>
  <custom-json-forms
    :json-schema="grants.jsonSchema"
    :ui-schema="grants.uischema"
    :ui-schemas="grants.uischemas"
    :form-data="formData"
    :renderers="[]"
    @change="onChange"
  ></custom-json-forms>
</template>

<style scoped>

</style>
