  <template>
  <v-hover v-slot="{ isHovering }">
    <v-combobox
      v-if="suggestions !== undefined"
      v-disabled-icon-focus
      :id="controlId + '-input'"
      :class="inputClass"
      :disabled="disabled"
      :autofocus="autofocus"
      :placeholder="placeholder"
      :label="label"
      :hint="hint"
      :persistent-hint="persistentHint"
      :required="required"
      :error-messages="errorMessages"
      :maxlength="maxLength"
      :counter="counter"
      :clearable="isHovering"
      :model-value="modelValue"
      :items="suggestions"
      hide-no-data
      v-bind="vuetifyProps('v-combobox')"
      @update:model-value="updateModelValue"
      @focus="$emit('focus')"
      @blur="handleBlur"
    />
    <v-text-field
      v-else
      :id="controlId + '-input'"
      :class="inputClass"
      :disabled="disabled"
      :autofocus="autofocus"
      :placeholder="placeholder"
      :label="label"
      :hint="hint"
      :persistent-hint="persistentHint"
      :required="required"
      :error-messages="errorMessages"
      :model-value="modelValue"
      :maxlength="maxLength"
      :counter="counter"
      :clearable="isHovering"
      v-bind="vuetifyProps('v-text-field')"
      @update:model-value="updateModelValue"
      @focus="$emit('focus')"
      @blur="handleBlur"
    />
  </v-hover>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue';
import { VCombobox, VHover, VTextField } from 'vuetify/components';

export default defineComponent({
  name: 'BaseTextInput',
  components: {
    VCombobox,
    VHover,
    VTextField,
  },
  props: {
    controlId: {
      type: String,
      required: true,
    },
    inputClass: {
      type: String,
      required: true,
    },
    disabled: {
      type: Boolean,
      required: true,
    },
    autofocus: {
      type: Boolean,
      required: true,
    },
    placeholder: {
      type: String,
      required: true,
    },
    label: {
      type: String,
      required: true,
    },
    hint: {
      type: String,
      required: true,
    },
    persistentHint: {
      type: Boolean,
      required: true,
    },
    required: {
      type: Boolean,
      required: true,
    },
    errorMessages: {
      type: Array,
      required: true,
    },
    modelValue: {
      type: [String, Number],
      required: true,
    },
    maxLength: {
      type: Number,
      required: false,
    },
    counter: {
      type: Number,
      required: false,
    },
    suggestions: {
      type: Array,
      required: false,
    },
    vuetifyProps: {
      type: Function,
      required: true,
    },
  },
  emits: ['update:model-value', 'blur', 'focus'],
  setup(props, { emit }) {
    const updateModelValue = (value: string) => {
      emit('update:model-value', value);
    };

    const handleBlur = (event: FocusEvent) => {
      emit('blur', event);
    };

    return {
      updateModelValue,
      handleBlur,
    };
  },
});
</script>
