<template>
  <control-wrapper
    v-bind="controlWrapper"
    :styles="styles"
    :isFocused="isFocused"
    :appliedOptions="appliedOptions"
  >
    <horizontal-label-wrapper applied-options="appliedOptions">
      <template #label>{{ computedLabel }}</template>
        <info-text :msg="infoText.msg" :learn-more-link="infoText.link"/>
        <v-text-field
          :id="control.id + '-input'"
          :class="styles.control.input"
          :disabled="!control.enabled"
          :autofocus="appliedOptions.focus"
          :placeholder="appliedOptions.placeholder"
          :label="computedLabel"
          :hint="control.description"
          :persistent-hint="persistentHint()"
          :required="control.required"
          :error-messages="control.errors"
          v-bind="vuetifyProps('v-text-field')"
          :model-value="control.data"
          @update:model-value="onChange"
          @focus="isFocused = true"
          @blur="handleBlur"
          type="date"
        />
    </horizontal-label-wrapper>
  </control-wrapper>
</template>

<script lang="ts">
import {
  ControlElement,
  isDateControl,
  JsonFormsRendererRegistryEntry,
  rankWith,
} from '@jsonforms/core';
import {defineComponent, inject, ref} from 'vue';

import {
  rendererProps,
  RendererProps,
  useJsonFormsControl,
} from '@jsonforms/vue';
import { VTextField } from 'vuetify/components';
import { useVuetifyControl } from '@pvale/vue-vuetify';
import { ControlWrapper } from '@pvale/vue-vuetify';
import InfoText from "@/forms/components/common/InfoText.vue";
import {useInfoText} from "@/forms/compositions";
import {JsonFormsI18nStateSymbol} from "@/constants/injectionKeys";
import HorizontalLabelWrapper from "@/forms/components/renderers/HorizontalLabelWrapper.vue";

const controlRenderer = defineComponent({
  name: 'date-control-renderer',
  methods: {ref},
  components: {
    HorizontalLabelWrapper,
    InfoText,
    ControlWrapper,
    VTextField,
  },
  props: {
    ...rendererProps<ControlElement>(),
  },
  setup(props: RendererProps<ControlElement>) {
    const adaptValue = (value: any) => value || undefined;
    const control = useVuetifyControl(useJsonFormsControl(props), adaptValue);
    const i18n = inject(JsonFormsI18nStateSymbol, null);
    const infoText = useInfoText(control, i18n);
    return { ...control, adaptValue, infoText };
  },
});

export default controlRenderer;

export const entry: JsonFormsRendererRegistryEntry = {
  renderer: controlRenderer,
  tester: rankWith(2, isDateControl),
};
</script>
