<template>
  <control-wrapper
    v-bind="controlWrapper"
    :styles="styles"
    :isFocused="isFocused"
    :appliedOptions="appliedOptions"
  >
    <v-hover v-slot="{ isHovering, props }">
    <horizontal-label-wrapper applied-options="appliedOptions" v-bind="props">
      <template #label>{{ computedLabel }}</template>
      <info-text :msg="infoText.msg" :learn-more-link="infoText.link" :title="computedLabel"/>
      <v-textarea
        v-disabled-icon-focus
        :id="control.id + '-input'"
        :class="styles.control.input"
        :disabled="!control.enabled"
        :autofocus="appliedOptions.focus"
        :placeholder="appliedOptions.placeholder"
        :label="computedLabel"
        :hint="infoText.description"
        :persistent-hint="persistentHint()"
        :required="control.required"
        :error-messages="control.errors"
        :model-value="control.data"
        :maxlength="
          appliedOptions.restrict ? control.schema.maxLength : undefined
        "
        :size="
          appliedOptions.trim && control.schema.maxLength !== undefined
            ? control.schema.maxLength
            : undefined
        "
        :clearable="isHovering"
        multi-line
        v-bind="vuetifyProps('v-textarea')"
        @update:model-value="onChange"
        @focus="isFocused = true"
        @blur="handleBlur"
      />
    <dev-control-info :control="toRef(control)"></dev-control-info>
  </horizontal-label-wrapper>
    </v-hover>
  </control-wrapper>
</template>

<script lang="ts">
import {computed, inject, ref, toRef} from 'vue';
import {
  ControlElement,
  JsonFormsRendererRegistryEntry,
  rankWith,
  isStringControl,
  isMultiLineControl,
  and,
} from '@jsonforms/core';
import { defineComponent } from 'vue';
import {
  rendererProps,
  useJsonFormsControl,
  RendererProps,
} from '@jsonforms/vue';
import { ControlWrapper } from '@pvale/vue-vuetify';
import { useVuetifyControl } from '@pvale/vue-vuetify';
import { VHover, VTextarea } from 'vuetify/components';
import { DisabledIconFocus } from '@pvale/vue-vuetify';
import HorizontalLabelWrapper from "@/forms/components/renderers/HorizontalLabelWrapper.vue";
import DevControlInfo from "@/forms/components/common/DevControlDetails.vue";
import InfoText from "@/forms/components/common/InfoText.vue";
import {useInfoText} from "@/forms/compositions";
import {JsonFormsI18nStateSymbol} from "@/constants/injectionKeys";

const controlRenderer = defineComponent({
  name: 'multi-string-control-renderer',
  methods: {toRef},
  components: {
    InfoText,
    DevControlInfo,
    ControlWrapper,
    VHover,
    VTextarea,
    HorizontalLabelWrapper,
  },
  directives: {
    DisabledIconFocus,
  },
  props: {
    ...rendererProps<ControlElement>(),
  },
  setup(props: RendererProps<ControlElement>) {
    const vControl = useVuetifyControl(
        useJsonFormsControl(props),
        (value) => value || undefined,
        300
      );
    const i18n = inject(JsonFormsI18nStateSymbol, null);
    const infoText = useInfoText(vControl, i18n);
    return { ...vControl, infoText, ref};

  },
});

export default controlRenderer;

export const entry: JsonFormsRendererRegistryEntry = {
  renderer: controlRenderer,
  tester: rankWith(2, and(isStringControl, isMultiLineControl)),
};
</script>
