<script setup lang="ts">
import {useI18nKeyPrefix} from "@/forms/compositions";
import {env} from "@/env";

const _props = defineProps<{
  control: any;
}>()
const i18nKeyPrefix = useI18nKeyPrefix(_props.control);
const isDevMode = env().isDevMode;
const i18nDebugMode = env().isI18NDebugLogging
</script>

<template>
  <div v-if="isDevMode && i18nDebugMode">{{ i18nKeyPrefix }}</div>
</template>

<style scoped>

</style>
