<script setup lang="ts">
import {computed, unref} from "vue";
import {useDisplay} from "vuetify";

const _props = defineProps<{
  msg: string | undefined;
  learnMoreLink: string | undefined; }
>()
</script>

<template>
  <div
    v-if="unref(msg)"
    class="help-text text-subtitle-1 text-medium-emphasis mb-2"
  >
    <span>{{ unref(msg) }}</span>
    <a v-if="unref(learnMoreLink)" class="ms-1" :href="unref(learnMoreLink)" target="_blank">{{ $t('learn-more') }}</a>
  </div>
</template>

<style scoped>
.help-text {
  font-size: 0.875rem !important;
}
</style>
