<template>
  <div>
    <json-forms
      :ajv="ajv"
      :schema="jsonSchema"
      :data="formData"
      :renderers="mergedRenderers"
      :cells="cells"
      :config="mergedConfig"
      :i18n="i18n"
      :uischema="uiSchema"
      :uischemas="uiSchemas"
      :readonly="readonly"
    />
  </div>
</template>

<script setup lang="ts">
/**
 * A Vue component designed to review data entered into form. Uses JSON Forms with custom renderers to display the data.
 */

import {
  computed,
  provide,
  ref,
  unref,
  withDefaults,
} from 'vue';
import { JsonForms } from '@jsonforms/vue';
import {
  createAjv,
  JsonFormsI18nState, JsonFormsUISchemaRegistryEntry,
  JsonSchema,
  UISchemaElement,
} from '@jsonforms/core';
import {
  arrayRendererEntry,
  DateControlRendererEntry,
  DateTimeControlRendererEntry,
  EnumControlRendererEntry,
  labeledObjectRendererEntry,
  ReviewArrayRendererEntry,
  ReviewGroupRendererEntry,
  ReviewTextRendererEntry,
  ReviewVerticalLayoutRendererEntry,
  ReviewListRendererEntry,
  rorRendererEntry,
  spacerRendererEntry,
  StringControlRendererEntry,
} from '@/forms/renderers';
import useFormTheme from '@/composable/useFormTheme';
import {
  defaultStyles,
  extendedVuetifyRenderers,
  vuetifyRenderers,
  mergeStyles,
} from '@pvale/vue-vuetify';
import {
  createJsonFormsErrorTranslator,
  createJsonFormsTranslator,
  I18nNamespace,
} from '@/i18n';
import { useLocale } from '@/composable/useI18n';
import {JsonFormsI18nStateSymbol} from "@/constants/injectionKeys";
import ReviewTextControlRenderer from "@/forms/components/renderers/review/ReviewTextControlRenderer.vue";
import LabeledObjectRenderer from "@/components/form-renderers/LabeledObjectRenderer.vue";
import { entry as GroupEntry } from '@/forms/components/renderers/review/ReviewGroupRenderer.vue'
import { Props } from './CustomJsonForms.vue';

// Default props values.
const props = withDefaults(defineProps<Props>(), {
  formData: () => ({}),
  config: () => ({}),
  renderers: () => [],
  i18nNamespace: I18nNamespace.ContentRegistration,
  uiSchemas: () => [],
  uiSchema: undefined,
  readonly: () => true,
});

// AJV instance for validation.
const ajv = createAjv({ useDefaults: true });

// Merged renderers array combining custom and default renderers.
const mergedRenderers = Object.freeze([
  ...extendedVuetifyRenderers,
  ReviewListRendererEntry,
  ReviewVerticalLayoutRendererEntry,
  ReviewTextRendererEntry,
  ReviewArrayRendererEntry,
  ReviewGroupRendererEntry,
  ...props.renderers,
]);

const mergedConfig = {
  reviewMode: true,
  ...props.config
};

// Setup i18n.
const { locale } = useLocale();
const i18n = computed<JsonFormsI18nState>(() => ({
  locale: unref(locale),
  translate: createJsonFormsTranslator(props.i18nNamespace),
  translateError: createJsonFormsErrorTranslator(unref(locale)),
}));

// Theming and styles.
const { currentFormTheme, formThemes } = useFormTheme();
const formThemeStyles = computed(
  () => formThemes.value[currentFormTheme.value].styles
);
const formStyles = computed(() =>
  mergeStyles(defaultStyles, formThemeStyles.value)
);
provide('styles', formStyles);
provide(JsonFormsI18nStateSymbol, i18n);

// Form configuration. Takes global form theme and applies overrides from props.
const config = computed(() => ({
  ...formThemes.value[currentFormTheme.value].config,
  ...props.config,
}));
</script>
